<div id="menu-item-details" *ngIf="group && restaurantRef">
    <div id="menu-item-details-scroll">

        <mat-icon id="close-icon" class="clickable" (click)="close()">close</mat-icon>
        <div id="allergens"><mat-icon>info</mat-icon>Informacje o alergenach</div>

        <div id="item-select-wrapper" *ngIf="group.menuItems.length > 1">
            <mat-form-field appearance="fill" id="item-select">
                <mat-label>Opcje dania</mat-label>
                <mat-select [compareWith]="compareSelects" [value]="(selectedItem$ | async)" (selectionChange)="selectItem$.next($event.value)">
                    <mat-option *ngFor="let item of group.menuItems" [value]="item">
                        {{item.name}} {{item.price}} zł
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="menu-item">
            <div class="menu-item-image" *ngIf="menuItemGroupImageUrl">
                <img src="{{menuItemGroupImageUrl}}"/>
            </div>

            <div class="menu-item-details" *ngIf="(selectedItem$ | async) as item">
                <p class="menu-item-name">{{group.name}}</p>
                <!-- TODO change price to dynamic currency -->
                <p class="menu-item-price">Cena: {{ item.price }} zł</p>
                <p class="menu-item-description">{{ group.description }}</p>
            </div>
        </div>

        <div id="customication-components" *ngIf="order && (selectedItem$ | async) as item">
            <app-order-menu-select #formatCol *ngFor="let collection of item.selectCollections" [collection]="collection" [order]="order"></app-order-menu-select>
            <app-order-menu-topping #formatCol *ngFor="let collection of item.toppingCollections" [collection]="collection" [order]="order"></app-order-menu-topping>
            <app-order-menu-chief-note #formatCol [commentable]="order"></app-order-menu-chief-note>
        </div>

        <app-counter-footer [order]="order" (submit)="submit($event)" [editMode]="editMode"></app-counter-footer>

        <div class="space-vertical-30">
        </div>
    </div>

    <div id="space-filler"> 

    </div>
</div>