<div class="editor-box box-shadow">
    <p class="editor-box-title" i18n>Topping price</p>
    <p class="editor-box-subtitle" i18n>Enter a valid price</p>

    <mat-form-field appearance="fill" id="element-price-input">
        <mat-label i18n>Topping price</mat-label>
        <input autocomplete="off" [formControl]="priceField" matInput>
        <mat-error *ngIf="priceField.errors" i18n>Invalid price</mat-error>

        <div class="currency-box">
            {{ currency }}
        </div>
    </mat-form-field>
</div>