<app-complex-editor-wrapper
    [headerEntry]="category !== undefined ? categoryValue : createNewCategoryValue"
    [headerValue]="category !== undefined ? category.name : ''"
    [saveEnabled]="isValid(categoryFields) && isUpdated(categoryFields)"
    [deleteEnabled]="category !== undefined"
    [detailsLink]="detailsLink"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="onTrySave()"
>

    <app-two-columns-field-editor>
        <app-editor-form-text class="field-editor" [control]="categoryFields.categoryName" i18-name name="Category name"></app-editor-form-text>
        <app-editor-form-text class="field-editor" [control]="categoryFields.categoryDescription" i18-name name="Category description"></app-editor-form-text>
    </app-two-columns-field-editor>
</app-complex-editor-wrapper>