.pending-order {
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.edited-pending-order {
    border: 1px solid #38A583;
    padding: 18px;
}

.order-description {
    width: 70%;
}

.order-actions {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}

.order-action {
    background-color: red;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: 10px
}

.order-action mat-icon {
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: white;
}

.order-action.accept {
    background-color: #38A583;
}

.order-action.reject {
    background-color: #9e3523;
}

.order-action.done {
    background-color: #9a239e;
}

.order-action.payed {
    background-color: #239e23;
}

.order-description h3 {
    font-size: 16px;
    font-family: PoppinsSemiBold;
    margin: 0px;
}

.order-description p {
    color: #777777;
    margin: 0px;
}

#additional-info {
    display: flex;
    margin-top: 10px;
}

#edited {
    color: #38A583;
    text-align: right;
    width: 50%;
    visibility: hidden;
}

.edited-pending-order #edited {
    visibility: visible;
}

#created {
    width: 50%;
}