<div id="menu-cli">
    <div id="banner">

        <div id="delivery-time">
            15 - 45 min
        </div>
    </div>

    <div id="menu-horizontal">
        <div id="hamburger">
            <mat-icon>menu</mat-icon>
        </div>

        <div id="menu-horizontal-elements">
            <div id="menu-horizontal-elements-content">
                <div class="menu-horizontal-element selected">
                    Najpopularniejsze dania
                </div>
                <div class="menu-horizontal-element">
                    Zupy
                </div>
                <div class="menu-horizontal-element">
                    Dania główne
                </div>
                <div class="menu-horizontal-element">
                    Dania główne
                </div>
                <div class="menu-horizontal-element">
                    Dania główne
                </div>
                <div class="menu-horizontal-element">
                    Dania główne
                </div>
                <div class="menu-horizontal-element">
                    Dania główne
                </div>
                <div class="menu-horizontal-element">
                    Dania główne
                </div>
            </div>
        </div>
    </div>

    <div id="menu-elements">
        <div class="menu-categories-list">
            <div class="menu-category">
                <h2 class="category-title">Najpopularniejsze dania</h2>
                <div class="menu-items-list">
                    <div class="menu-item selected">
                        <div class="menu-item-image">
                            <img src="/assets/temp/naura.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Spaghetti Carbonaura</p>
                            <p class="menu-item-description">z sosem z żółtek jaj, boczek</p>
                            <p class="menu-item-price">21,00 zł</p>

                            <div class="menu-item-count"><p>1</p></div>
                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/hawii.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Pizza Hawii</p>
                            <p class="menu-item-description">sos, ser, szynka i ananas</p>
                            <p class="menu-item-price">4,20 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/farmerska.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Pizza Farmerska</p>
                            <p class="menu-item-description">sos, ser, szynka, boczek, pieczarki, papryka i cebula</p>
                            <p class="menu-item-price">29,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/rollo.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Super Mega Rollo z surówką i ultra frytkami</p>
                            <p class="menu-item-description">kebab, surówki i frytki</p>
                            <p class="menu-item-price">29,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>