<div id="menu-cli">
    <div id="banner">

        <div id="delivery-time">
            15 - 45 min
        </div>
    </div>

    <app-menu-horizontal></app-menu-horizontal>

    <div id="menu-elements">
        <div class="menu-categories-list">

            <!-- Najpopularniejsze dania -->
            <div class="menu-category">
                <h2 class="category-title">Najpopularniejsze dania</h2>
                <div class="menu-items-list">
                    <div class="menu-item selected">
                        <div class="menu-item-image">
                            <img src="/assets/temp/naura.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Spaghetti Carbonaura</p>
                            <p class="menu-item-description">z sosem z żółtek jaj, boczek</p>
                            <p class="menu-item-price">21,00 zł</p>

                            <div class="menu-item-count"><p>1</p></div>
                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/hawii.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Pizza Hawii</p>
                            <p class="menu-item-description">sos, ser, szynka i ananas</p>
                            <p class="menu-item-price">4,20 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/farmerska.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Pizza Farmerska</p>
                            <p class="menu-item-description">sos, ser, szynka, boczek, pieczarki, papryka i cebula</p>
                            <p class="menu-item-price">29,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/rollo.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Super Mega Rollo z surówką i ultra frytkami</p>
                            <p class="menu-item-description">kebab, surówki i frytki</p>
                            <p class="menu-item-price">29,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Zupy -->
            <div class="menu-category">
                <h2 class="category-title">Zupy</h2>
                <p class="category-description">Do każdej zupy dodajemy pieczywo</p>
                <div class="menu-items-list">
                    <div class="menu-item selected">
                        <div class="menu-item-image">
                            <img src="/assets/temp/grochowka.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Grochówa</p>
                            <p class="menu-item-description">normalnie zupa z grochem</p>
                            <p class="menu-item-price">29,00 zł</p>

                            <div class="menu-item-count"><p>1</p></div>
                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/chimiczanga.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Czimiczanga</p>
                            <p class="menu-item-description">mąka, woda, jajka, kukurydza, papryka, awokado, pomidory, ogórek, sałata 1, sałata 2, cytryna, limonka, sałata 3</p>
                            <p class="menu-item-price">100,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dania główne -->
            <div class="menu-category">
                <h2 class="category-title">Dania główne</h2>
                <div class="menu-items-list">
                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/naura.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Spaghetti Carbonaura</p>
                            <p class="menu-item-description">z sosem z żółtek jaj, boczek</p>
                            <p class="menu-item-price">21,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/hawii.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Pizza Hawii</p>
                            <p class="menu-item-description">sos, ser, szynka i ananas</p>
                            <p class="menu-item-price">4,20 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/farmerska.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Pizza Farmerska</p>
                            <p class="menu-item-description">sos, ser, szynka, boczek, pieczarki, papryka i cebula</p>
                            <p class="menu-item-price">29,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-image">
                            <img src="/assets/temp/rollo.jpeg"/>
                        </div>

                        <div class="menu-item-details">
                            <p class="menu-item-name">Super Mega Rollo z surówką i ultra frytkami</p>
                            <p class="menu-item-description">kebab, surówki i frytki</p>
                            <p class="menu-item-price">29,00 zł</p>

                            <div class="menu-item-add"><p>+</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="footer-rows">
        <div class="footer-row">
            <p class="footer-row-title">O nas <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">

            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Polityka prywatności <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Informacja prawna <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Jak to działa? <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
    </div>

    <div id="footer-powered-by">
        <p>Powered by: <img src="/assets/images/logoMin.png"/></p>
    </div>
</div>