<div id="menu">
    <h1>Menu restauracji</h1>

    <div id="menu-elements-list" cdkDropList (cdkDropListDropped)="dragDropListCaught($event)">
        <div *ngFor="let category of categories" class="menu-element-drag-box" cdkDrag>
            <div class="menu-element box-shadow">
                <div class="drag-box clickable">
                    <mat-icon>apps</mat-icon>
                </div>
        
                <div class="menu-element-details">
                    <p class="menu-element-name">{{ category.category.name }}</p>
                    <p class="menu-element-description">{{ category.category.description }}</p>
                    <p class="extend clickable" (click)="extendCategory(category.category)" *ngIf="!category.open">
                        &gt; Rozwiń kategorię
                    </p>
                    <p class="extend clickable" (click)="closeCategories()" *ngIf="category.open">
                        &lt; Zwiń kategorię
                    </p>
                    <div class="settings-icon clickable" (click)="editCategory(category.category)">
                        <mat-icon>settings</mat-icon>
                    </div>
                </div>
            </div>

            <div class="menu-element-items" *ngIf="category.open">
                <app-menu-category-items [category]="category.category"></app-menu-category-items>
            </div>
        </div>
    </div>

    <div class="menu-element box-shadow new-one clickable">
        <div>
            <p>+ Dodaj nową kategorię</p>
        </div>
    </div>

    <div class="spacer-50">

    </div>
</div>

<div id="floating-editor" class="box-shadow-top">
    <ng-template elementEditorHost></ng-template>
</div>