#account-details {
    position: relative;
    display: flex;
    height: 40px;
    font-size: 17px;
}

#user-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #38A583;
}

#user-icon p {
    margin: 0px;
    text-align: center;
    line-height: 40px;
    font-family: PoppinsBold;
    color: #FFFFFF;
}