#order-summary {
    padding-bottom: 20px;
    font-size: 14px;
}

.summary-element {
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.summary-element-name {
    margin-bottom: 5px;
}

.summary-element.static {
    opacity: 0.5;
}

.summary-element-description {
    width: 70%;
}

.summary-element-options {
    margin-top: 5px;
}

.summary-element-option {
    font-size: 12px;
    color: #c3c3c3;
}

.summary-element-price {
    width: 30%;
    text-align: right;
}

#user-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #38A583;
    margin-right: 10px;
}

#user-icon p {
    margin: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: PoppinsBold;
    color: #FFFFFF;
}

.details-header {
    display: flex;
    align-items: center;
}

#table-number {
    font-family: PoppinsBold;
}

.section {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 14px;
}

.section h2 {
    color: #C3C3C3;
    font-size: 16px;
    margin-bottom: 0px;
}

.section .attribute {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.order-action-button {
    background-color: #38A583;
    color: #f4f4f4;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    position: relative;
}

.order-action-button mat-icon {
   // height: 0px;
   position: absolute;
   left: 10px;
   top: 0px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.order-action-button.reject {
    background-color: #9e3523;
}