<div id="menu-admin">
    <div id="header-bar" class="box-shadow-bottom">
        <div id="logo">
            <img src="/assets/images/logo.png"/>
        </div>

        <app-account-icon [height]="40" [theme]="'DARK'"></app-account-icon>
    </div>


    <div id="page">
        <div id="menu-vertical">
            <div id="menu-elements">
                <p id="menu-title">Menu</p>

                <p class="menu-element"><a routerLink="statistics" routerLinkActive="active">Statystyki</a></p>
                <p class="menu-element"><a routerLink="orders" routerLinkActive="active">Podgląd zamówień</a></p>
                <p class="menu-element"><a routerLink="customization" routerLinkActive="active">Personalizacja</a></p>
                <p class="menu-element"><a routerLink="menu" routerLinkActive="active">Menu restauracji</a></p>
                <p class="menu-element"><a routerLink="history" routerLinkActive="active">Zamówienia</a></p>
                <p class="menu-element"><a routerLink="team" routerLinkActive="active">Zarządzanie zespołem</a></p>
            </div>
            <div id="menu-footer">
                <p id="need-help"><a href="#">Potrzebujesz pomocy?</a></p>
                <p id="powered-by">Powered by: <img src="/assets/images/logoMin.png"></p>
            </div>
        </div>
        <div id="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>