<div id="menu-admin">
    
    <app-header-bar></app-header-bar>

    <div id="page">
        <div id="menu-vertical">
            <div id="menu-elements">
                <p id="menu-title">Menu</p>

                <p class="menu-element"><a routerLink="statistics" routerLinkActive="active" i18n>Statystyki</a></p>
                <p class="menu-element"><a routerLink="orders" routerLinkActive="active" i18n>Podgląd zamówień</a></p>
                <p class="menu-element"><a routerLink="customization" routerLinkActive="active" i18n>Personalizacja</a></p>
                <p class="menu-element"><a routerLink="menu" routerLinkActive="active" i18n>Menu restauracji</a></p>
                <p class="menu-element"><a routerLink="history" routerLinkActive="active" i18n>Zamówienia</a></p>
                <p class="menu-element"><a routerLink="team" routerLinkActive="active" i18n>Zarządzanie zespołem</a></p>
            </div>
            <div id="menu-footer">
                <p id="need-help"><a href="#" i18n>Potrzebujesz pomocy?</a></p>
                <p id="powered-by"><span i18n>Powered by: </span><img src="/assets/images/logoMin.png"></p>
            </div>
        </div>
        <div id="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>