<div id="menu-cli-dialog-wrapper" [ngStyle]="{'display': show ? 'block' : 'none'}">
    <div id="menu-cli-dialog-curtain" (click)="close()">

    </div>

    <div id="menu-cli-dialog-card" class="box-shadow-top">
        <div id="menu-cli-dialog-card-header" *ngIf="title" [ngStyle]="getShadowStyle()">
            <div id="close">
                <mat-icon id="close-icon" (click)="close()">close</mat-icon>
            </div>
            <p id="menu-cli-dialog-card-header-scroll-top" [ngStyle]="getScrollTopStyle()" (click)="goToTop()">Wróć na górę karty</p>
            <h2>{{title}}</h2>
        </div>
        <div id="menu-cli-dialog-card-body" [ngStyle]="{'max-height': getMaxBodyHeight()}" (scroll)="onScroll($event)" #cardbody>
            <div dialogBodyHost>

            </div>
        </div>
    </div>
</div>