#title {
    font-size: 16px;
    font-family: PoppinsBold;
    color: #9e3523;
    text-align: center;
}

#message {
    text-align: center;
    margin-top: 10px;
}

#button {
    padding: 10px;
    margin-top: 30px;
    background-color: #9e3523;
    text-align: center;
    border-radius: 10px;
    color: white;
}

#dialog-content {
    padding: 20px;
}