<app-complex-editor-wrapper
    [headerEntry]="topping !== undefined ? 'Topping' : 'Create new topping'"
    [headerValue]="topping !== undefined ? name : ''"
    [saveEnabled]="((editToppingService.valid() | async) && (isUpdated | async)) === true"
    [deleteEnabled]="topping !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="editToppingService.onSaveTry.next()"
    [tabs]="tabs"
>

    <router-outlet></router-outlet>
</app-complex-editor-wrapper>