#edit-element {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#element-name {
    margin-top: 20px;
    color: #C3C3C3;
}

#element-name b {
    font-family: PoppinsBold;
    color: black;
}

#help-text {
    font-size: 14px;
    margin: 0px;
    color: #777;
}

#field-editors {
    margin-top: 30px;
    margin-bottom: 20px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: max-content;
}

#controls {
    max-height: 50vh;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.field-editor {
    display: block;
}

app-submit-bar {
    position: sticky;
    background-color: white;
    bottom: 0px;
}

@media screen and (max-width: 1000px) {
    #field-editors {
        margin-top: 30px;
        margin-bottom: 20px;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        grid-auto-rows: max-content;
    }
}