#edit-element {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 60vh;
    overflow-y: auto;
}

#element-name {
    margin-top: 20px;
    color: #C3C3C3;
}

#element-name b {
    font-family: PoppinsBold;
    color: black;
}

#help-text {
    font-size: 14px;
    margin: 0px;
    color: #777;
}

#editors {
    margin-top: 30px;
    margin-bottom: 20px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: max-content;
}

.editor {
    display: block;
}

app-submit-bar {
    position: sticky;
    background-color: white;
    bottom: 0px;
}