<div id="login-box" class="box-shadow" *ngIf="isLogged">
    <div class="box-content">
        <h1>Zaloguj</h1>

        <input autocomplete="off" id="login-input" placeholder="Login">
        <input type="password" autocomplete="off" id="password-input" placeholder="Hasło">
        <div id="login-button">Zaloguj</div>
        <p>lub</p>

        <asl-google-signin-button id="google-login-button" type="standard" width="360"></asl-google-signin-button>
    </div>
</div>

<div id="already-logged" class="box-shadow" *ngIf="isLogged">
    <div class="box-content">
    <h1>Jesteś już zalogowany</h1>
</div>
</div>