<div id="menu-admin">
    
    <app-header-bar></app-header-bar>

    <div id="page">
        <div id="menu-vertical">
            <div id="menu-elements">
                <p id="menu-title">Menu</p>

                <p class="menu-element"><a routerLink="statistics" routerLinkActive="active" i18n>Statistics</a></p>
                <p class="menu-element"><a routerLink="orders" routerLinkActive="active" i18n>Active orders</a></p>
                <p class="menu-element"><a routerLink="customization" routerLinkActive="active" i18n>Personalization</a></p>
                <p class="menu-element"><a routerLink="menu/categories" routerLinkActive="active" i18n>Restaurant menu</a></p>
                <p class="menu-element"><a routerLink="menu/allergens" routerLinkActive="active" i18n>Allergens</a></p>
                <p class="menu-element"><a routerLink="history" routerLinkActive="active" i18n>Orders history</a></p>
                <p class="menu-element"><a routerLink="team" routerLinkActive="active" i18n>Team management</a></p>
            </div>
            <div id="menu-footer">
                <p id="need-help"><a href="#" i18n>Need help?</a></p>
                <p id="powered-by"><span i18n>Powered by: </span><img src="/assets/images/logoMin.png"></p>
            </div>
        </div>
        <div id="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>