<div id="edit-element" *ngIf="fullItem | async as item">
    <p id="element-name"><span i18n>Option</span>: <b>{{ item.name }}</b></p>

    <p id="help-text" i18n>Edit fields below and save changes</p>
    <div id="editors">
    </div>

    <div id="item-tabs">
        <div class="tab clickable">
            <mat-icon>add_circle</mat-icon>
            <span i18n>Dodatki</span>
        </div>
        <div class="tab clickable" routerLink="selects" routerLinkActive="active">
            <mat-icon>check_circle</mat-icon>
            <span i18n>Obieralne</span>
        </div>
        <div class="tab clickable" routerLink="allergens" routerLinkActive="active">
            <mat-icon>info</mat-icon>
            <span i18n>Alergeny</span>
        </div>
        <div class="tab clickable">
            <mat-icon>settings</mat-icon>
            <span i18n>Edytuj</span>
        </div>
    </div>
</div>

<div id="editor">
    <router-outlet></router-outlet>
</div>

<app-submit-bar [saveEnabled]="dirty" [deleteEnabled]="fullItem !== undefined" (onClose)="close()" (onSave)="onSave()" (onDelete)="onDelete()"></app-submit-bar>
