<div id="personalization" *ngIf="restaurant | async as restaurantDetails">
    <h1 i18n>Personalizacja</h1>

    <div class="personalization-element">
        <app-logo-customization [restaurant]="restaurantDetails" (restaurantUpdate)="restaurantUpdated($event)"></app-logo-customization>
    </div>

    <div class="personalization-element">
        <app-background-photo-customization [restaurant]="restaurantDetails" (restaurantUpdate)="restaurantUpdated($event)"></app-background-photo-customization>
    </div>

    <div class="personalization-element">
        <app-colors-customization [restaurant]="restaurantDetails" (restaurantUpdate)="restaurantUpdated($event)"></app-colors-customization>
    </div>
</div>