h2 {
    font-size: 18px;
    font-family: PoppinsBold;
}

.customization-envelope {
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
}

#active-logo {
    width: 40%;
    height: 100px;
    cursor: pointer;
}

#active-logo:hover {
    outline: 1px solid #38A583;
}

#active-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#logo-replacement, #theme-color-view {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logo-replacement mat-icon {
    display: inline-box;
}

h3 {
    font-family: PoppinsBold;
    margin: 0px;
}

#theme-color-view p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    background-color: white;
    padding-right: 10px;
    padding-top: 5px;
}

#logo-description {
    margin-left: 20px;
    width: calc(60% - 20px);
    position: relative;
}

#logo-description-text {
    margin-bottom: 30px;
}

#sendFile {
    font-family: PoppinsBold;
    color: #38A583;
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0px;
    margin: 0px;
    width: 150px;
    height: 40px;
    line-height: 45px;
    background-color: #38A583;
    border-radius: 20px;
}

#removeFile {
    position: absolute;
    left: 160px;
    height: 40px;
    width: 40px;
    bottom: 0px;
    border: 1px solid #C3C3C3;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

#removeFile mat-icon {
    line-height: 40px;
    display: inline;
    color: #C3C3C3;
}

#file-upload {
    display: none;
}