<div id="all" class="box-shadow box-radius">
    <h2 i18n>Toppings</h2>
    <p i18n class="action-description">Choose the right toppings for this dish</p>

    <div id="colections-list">
        <div *ngFor="let collection of checked; let i = index" class="container clickable">
            <div class="drag-box clickable">
                <mat-icon (click)="moveDown(collection)" *ngIf="i != 0" class="top">keyboard_arrow_up</mat-icon>
                <mat-icon (click)="moveUp(collection)" *ngIf="i + 1 != checked.length" class="bottom">keyboard_arrow_down</mat-icon>
            </div>
            <div class="collection">
                <div class="collection-description">
                    <div class="checkbox-field">
                        <mat-checkbox checked="true" (change)="select(collection, $event.checked)"></mat-checkbox>
                    </div>
                    <div class="name-field">
                        {{ collection.description ? collection.description : collection.name }}
                    </div>
                </div>
                
                <div class="detials-button clickable">
                    <p i18n>View</p>
                </div>
            </div>
        </div>
        <div *ngFor="let collection of notChecked" class="container">
            <div class="collection">
                <div class="collection-description">
                    <div class="checkbox-field">
                        <mat-checkbox checked="false" (change)="select(collection, $event.checked)"></mat-checkbox>
                    </div>
                    <div class="name-field">
                        {{ collection.description ? collection.description : collection.name }}
                    </div>
                </div>
                
                <div class="detials-button clickable">
                    <p i18n>View</p>
                </div>
            </div>
        </div>
    </div>
</div>
