<div id="menu">
    <h1 i18n>Restaurant menu</h1>

    <div id="menu-elements-list" cdkDropList (cdkDropListDropped)="dragDropListCaught($event)">
        <div *ngFor="let category of categories" class="category-pane box-shadow box-radius" cdkDrag>
            <div class="menu-element-details">
                <div class="drag-box clickable">
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div class="left">
                    <p class="menu-element-name">{{ category.category.name }}</p>
                    <p class="menu-element-description">{{ category.category.description }}</p>

                    <p class="extend clickable" (click)="extendCategory(category.category)" *ngIf="!category.open">
                        <span i18n>Expand the category</span> <mat-icon class="extend-arrow">keyboard_arrow_down</mat-icon>
                    </p>
                    <p class="extend clickable" (click)="closeCategories()" *ngIf="category.open">
                        <span i18n>Collapse the category</span> <mat-icon class="extend-arrow">keyboard_arrow_up</mat-icon>
                    </p>
                </div>
                <div class="right clickable" (click)="editCategory(category.category)">
                    <mat-icon class="settings-icon">settings</mat-icon>
                </div>
            </div>

            <div class="menu-element-items" *ngIf="category.open">
                <app-menu-category-items [category]="category.category"></app-menu-category-items>
            </div>
        </div>
    </div>
</div>

<div id="floating-editor" class="box-shadow-top">
    <ng-template elementEditorHost></ng-template>
</div>