// .menu-element {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 40px;
//     margin-right: 20px;
//     padding: 20px;
//     border-radius: 20px;
//     position: relative;
// }

// .menu-element-items {
//     margin-left: 50px;
// }

// .cdk-drag-placeholder {
//     opacity: 0;
// }

// .settings-icon {
//     position: absolute;
//     right: 20px;
//     top: 50%;
//     transform: translateY(-50%);
//     height: 30px;
// }

// .settings-icon mat-icon {
//     width: 30px;
//     height: 30px;
//     font-size: 30px;
//     color: #C3C3C3;
// }

// .settings-icon:hover mat-icon {
//     color: #c21d8e;
// }

// .cdk-drag-animating {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// #menu-elements-list.cdk-drop-list-dragging .menu-element-drag-box:not(.cdk-drag-placeholder) {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// .drag-box  {
//     width: 40px;
//     height: 30px;
// }

// .drag-box mat-icon {
//     color: #c21d8e;
//     width: 30px;
//     height: 30px;
//     font-size: 30px;
//     margin: 0px;
// }

// .new-one p{
//     font-family: PoppinsSemiBold;
//     color: #c21d8e;
// }

// .new-one {
//     padding-top: 20px;
// }

.menu-element-details {
    display: flex;
    align-items: stretch;
}

.menu-element-details .right {
    width: 70px;
    border-left: 1px solid #C3C3C3;
    margin-left: 20px;
}

.menu-element-details .left {
    width: 100%;
    position: relative;
}

.extend {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    color: #C3C3C3;
    margin-top: 10px;
}

.settings-icon {
    font-size: 24px;
    margin-left: 20px;
    width: 50px;
    color: #C3C3C3;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 80px;
}

.settings-icon mat-icon {
    display: inline;
    vertical-align: middle;
}

.menu-element {
    margin-top: 30px;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    background-color: #FFFFFF;
}

.drag-box {
    width: 50px;
    display: flex;
    align-items: center;
    border-right: 1px solid #C3C3C3;
}

.drag-box mat-icon {
    font-size: 50px;
    width: 50px;
    line-height: 60px;
    height: 60px;
    color: #C3C3C3;
}

.menu-element-name {
    font-family: PoppinsSemiBold;
    color: #272727;
    margin: 0px;
    padding: 0px;
}

.extend-arrow {
    font-size: 22px;
    line-height: 22px;
    display: inline;
    position: relative;
    top: 5px;
}