#team {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 100%;
    overflow: auto;
}

h1 {
    margin-top: 30px;
    font-size: 30px;
    font-family: PoppinsBold;
    line-height: 50px;
    border-bottom: 1px solid #C3C3C3;
}

.users-group {
    background-color: #F7F7F7;
    padding: 15px;
    margin-top: 30px;
    position: relative;
    border-bottom-right-radius: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
    color: #272727;
    font-family: PoppinsBold;
}

.user-bar {
    padding: 15px;
    text-align: center;
}

.create-new .user-bar {
    display: flex;
    justify-content: center;
}

.create-new {
    background-color: #38A583;
    color: #F4F4F4;
    margin-top: 30px;
    text-align: center;
}

.bar {
    margin-bottom: 20px;
    float: left;
    width: calc(50% - 20px);
}

.bar:nth-child(2n + 1) {
    margin-right: 20px;
}

.space {
    height: 40px;
}