#account-details {
    position: relative;
    display: flex;
    height: 32px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #c21d8e;
}

#user-name {
    margin: 0px;
    line-height: 32px;
    overflow: hidden;
    margin-left: 10px;
    color: #FFFFFF;
    text-align: left;
}

#logout {
    color: #FFFFFF;
    position: absolute;
    right: 5px;
    border: 1px solid #FFFFFF;
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px
}