#edit-category {
    margin-bottom: 20px;
}

#category-name {
    margin-top: 20px;
    color: #C3C3C3;
}

#category-name b {
    font-family: PoppinsBold;
    color: black;
}

#help-text {
    font-size: 14px;
    margin: 0px;
    color: #777;
}