<div class="editor-box box-shadow" *ngIf="elementDescriptionFormControl">
    <p class="editor-box-title" i18n>Dish description</p>
    <p class="editor-box-subtitle" i18n>Complete the field below</p>

    <mat-form-field appearance="fill" id="element-description-input">
        <mat-label i18n>Dish description</mat-label>
        <input autocomplete="off" [formControl]="elementDescriptionFormControl" matInput>
        <mat-error *ngIf="elementDescriptionFormControl.errors" i18n>Invalid description</mat-error>
    </mat-form-field>
</div>