<div id="orders-history">
  <h1 i18n>Orders history</h1>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="changeSort($event)" class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="ref">
        <th mat-header-cell *matHeaderCellDef i18n>
          Id
        </th>
        <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex-sort-header">
            <mat-icon class="clickable header-icon" (click)="selectDateRange()">date_range</mat-icon>

            <div mat-sort-header class="sort-header">
              <span i18n>Date</span>
            </div>
          </div>

          <div class="header-selected" *ngIf="dateRange">
            <mat-icon class="clickable" (click)="clearDateRange()">remove_circle_outline</mat-icon>

            {{ dateRange.start | date:'dd.MM.YYYY' }} - {{ dateRange.end | date:'dd.MM.YYYY' }}
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.created | date:'dd.MM.YYYY HH:mm'}} </td>
      </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex-sort-header">
            <mat-icon class="clickable header-icon" (click)="selectOrderStatus()">list</mat-icon>

            <div mat-sort-header class="sort-header">
              <span i18n>Order status</span>
            </div>
          </div>

          <div class="header-selected" *ngIf="selectedOrderStatus">
            <mat-icon class="clickable" (click)="clearOrderStatus()">remove_circle_outline</mat-icon>
            <span class="statuses-list">{{ getSelectedOrderStatusString(selectedOrderStatus) }}</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ translator.translateOrderStatus(element.orderStatus) }} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex-sort-header">
            <mat-icon class="clickable header-icon" (click)="selectPaymentStatus()">list</mat-icon>

            <div mat-sort-header class="sort-header">
              <span i18n>Payment status</span>
            </div>
          </div>

          <div class="header-selected" *ngIf="selectedPaymentStatus">
            <mat-icon class="clickable" (click)="clearPaymentStatus()">remove_circle_outline</mat-icon>
            <span class="statuses-list">{{ getSelectedPaymentStatusString(selectedPaymentStatus) }}</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{translator.translatePaymentStatus(element.paymentStatus)}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef>
          <div class="flex-sort-header">
            <mat-icon class="clickable header-icon" (click)="selectPaymentMethod()">list</mat-icon>

            <div mat-sort-header class="sort-header">
              <span i18n>Payment method</span>
            </div>
          </div>

          <div class="header-selected" *ngIf="selectedPaymentMethod">
            <mat-icon class="clickable" (click)="clearPaymentMethod()">remove_circle_outline</mat-icon>
            <span class="statuses-list">{{ getSelectedPaymentMethodString(selectedPaymentMethod) }}</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{translator.translatePaymentMethod(element.paymentMethod)}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef i18n>
          Actions
        </th>
        <td mat-cell *matCellDef="let element" class="details clickable" [routerLink]="[element.ref]">Details</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator id="paginator" #paginator [pageSize]="pageSize" [length]="29" (page)="getPage($event.pageSize, $event.pageIndex + 1, this.activeSort)">
    </mat-paginator>
</div>

<app-floating-editor-wrapper>
  <router-outlet></router-outlet>
</app-floating-editor-wrapper>