<div id="all" class="box-shadow box-radius" *ngIf="collections">
    <h2 i18n>Options</h2>
    <p i18n class="action-description">Choose the right options for this dish</p>

    <div id="colections-list">
        <div *ngFor="let collection of collections" class="select-container">
            <div class="select-collection">
                <div class="select-collection-description">
                    <div class="checkbox-field">
                        <mat-checkbox (change)="select(collection, $event.checked)"></mat-checkbox>
                    </div>
                    <div class="name-field">
                        {{ collection.name }}
                    </div>
                </div>
                
                <div class="detials-button clickable">
                    <p i18n>View</p>
                </div>
            </div>
        </div>
    </div>
</div>
