<app-generic-editor name="Choose image" subtitile="Complete the field below">
    <div class="customization-envelope">
        <div id="active-logo" class="clickable" (click)="file.click()">
            <img src="{{ imageUrl }}" *ngIf="imageUrl">
            <div id="logo-replacement" *ngIf="!imageUrl">
                <mat-icon>add</mat-icon>
            </div>
        </div>
        <div id="logo-description">
            <h3 i18n>Choose image</h3>
    
            <p id="sendFile" class="clickable" (click)="file.click()" i18n>Send file</p>
            <div *ngIf="imageUrl" id="removeFile" class="clickable" (click)="remove()">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </div>
</app-generic-editor>

<input #file type="file" class="file-upload" accept="image/*" (change)="upload(file.files)">