<h2>Sprzedaż</h2>

<div id="header">
    <div class="header-element">
        <p>Ilość zamówień:</p>
        <p class="value">456</p>
    </div>
    <div class="header-element">
        <p>Wartość zamówień:</p>
        <p class="value highlighted">21 654zł</p>
    </div>
    <div class="header-element">
        <p>Średnio:</p>
        <p class="value highlighted">45zł</p>
    </div>
    <div class="header-element">
        <select name="range" id="range">
        <option value="volvo">Ostatni: Dzień</option>
        <option value="saab">Ostatni: Tydzień</option>
        <option value="mercedes">Ostatni: Miesiąc</option>
        <option value="audi">Ostatni: Rok</option>
        </select>
    </div>
</div>