<div id="order-submit" *ngIf="orderValue && orderValue.activeElements.length + orderValue.elements.length > 0" class="box-shadow box-radius">
    <div id="summary">
        <p id="summary-label" i18n>Summary:</p>
        <p id="summary-value">({{ orderValue.activeElements.length + orderValue.elements.length }}) {{ orderValue.price.toFixed(2) }} zł</p>
    </div>
    <div id="order">
        <ng-content></ng-content>
        <div id="subscribeButton" class="clickable main-theme-background-color box-radius" (click)="proceed()">
            <span>{{buttonValue}}</span>
        </div>
    </div>
</div>
