#order-submit {
    // width: 100%;
    // position: fixed;
    // bottom: 0px;
    // height: 44px;
    // padding: 15px;
    // display: flex;
    // justify-content: space-between;
    // background-color: #ffffff;


    width: calc(100% - 30px);
    height: 44px;
    background-color: white;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

#order-submit p {
    margin: 0px
}

#summary-label {
    font-family: PoppinsBold;
    font-size: 15px;
}

#summary-value {
    font-size: 14px;
}

#order {
    display: flex;
}

#subscribeButton {
    height: 44px;
    background-color: #c21d8e;
    color: #ffffff;
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}