<div id="order-submit" *ngIf="order && order.items.length > 0" class="box-shadow box-radius">
    <div id="summary">
        <p id="summary-label" i18n>Summary:</p>
        <p id="summary-value">({{ order.items.length }}) {{ order.price.toFixed(2) }} zł</p>
    </div>
    <div id="order">
        <div id="subscribeButton" class="clickable main-theme-background-color" (click)="proceed()">
            <span *ngIf="order.editMode; else createMode" i18n>Save</span>
            <ng-template #createMode i18n>Order and pay</ng-template>
        </div>
    </div>
</div>
