<h2 i18n>Color of the restaurant theme</h2>

<div class="customization-envelope box-shadow" *ngIf="restaurantCopy && activeColor">
    <div id="active-logo" class="clickable">
        <div id="theme-color-view" [style.background-color]="activeColor" (click)="pickerInput.click()">
            <p>{{activeColor}}</p>
            <input #pickerInput id="pickerInput" autocomplete="off" [(colorPicker)]="activeColor" (colorPickerClose)="publish()" [cpAlphaChannel]="'disabled'"/>
        </div>
    </div>
    <div id="logo-description">
        <h3 i18n>Select theme main color</h3>
        <p id="logo-description-text" i18n>Your restaurant's menu theme main color</p>

        <p id="sendFile" class="clickable" (click)="pickerInput.click()" i18n>Select</p>
    </div>
</div>