#edit-category {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 60vh;
    overflow-y: auto;
}

#category-name {
    margin-top: 20px;
    color: #C3C3C3;
}

#category-name b {
    font-family: PoppinsBold;
    color: black;
}

#help-text {
    font-size: 14px;
    margin: 0px;
    color: #777;
}