<div id="menu" *ngIf="category">
    <h1>
        <mat-icon id="back-icon" class="clickable" routerLink="/admin/menu/categories">arrow_back</mat-icon>
        <span i18n>Category:</span>
        {{ category.name }}
    </h1>

    <div class="create-new clickable box-shadow box-radius" [routerLink]="['/admin/menu/category/', category.ref, 'group-aggregate', 'create']"><p i18n>+ Create new dish</p></div>

    <div id="menu-elements-list" *ngIf="groups">
        <div *ngFor="let group of groups; let i = index">

            <div class="menu-element group box-shadow box-radius">
                <div class="drag-box clickable">
                    <mat-icon (click)="moveDown(group.group)" *ngIf="i != 0" class="top">keyboard_arrow_up</mat-icon>
                    <mat-icon (click)="moveUp(group.group)" *ngIf="i + 1 != groups.length" class="bottom">keyboard_arrow_down</mat-icon>
                </div>

                <div class="menu-element-details">
                    <div class="left">
                        <div class="menu-element-details-image" *ngIf="group.group.image">
                            <img [src]="getImageUrl(group.group.image.ref)"/>
                        </div>
                        <div class="menu-element-details-content">
                            <p class="menu-element-name">{{ group.group.name }}</p>
                            <p class="menu-element-description">{{ group.group.description }}</p>
                        </div>

                        <p class="extend clickable" *ngIf="group.isAggregate" [routerLink]="['/admin/menu/category', category.ref, 'group', group.group.ref, 'item', 'create']">
                            <span i18n>Create a variant</span> <mat-icon class="extend-arrow">add</mat-icon>
                        </p>

                        <span *ngIf="!group.isAggregate">
                            <p class="extend clickable" [routerLink]="['/admin/menu/category/', category.ref, 'group', group.group.ref]" *ngIf="openGroupRef !== group.group.ref">
                                <span i18n>Expand variants</span> <mat-icon class="extend-arrow">keyboard_arrow_down</mat-icon>
                            </p>
                            <p class="extend clickable" [routerLink]="['/admin/menu/category', category.ref]" *ngIf="group.group.ref === openGroupRef">
                                <span i18n>Collapse variants</span> <mat-icon class="extend-arrow">keyboard_arrow_up</mat-icon>
                            </p>
                        </span>
                    </div>
                    <div class="right">
                        <div *ngIf="!group.isAggregate" class="settings-icon clickable" [routerLink]="['/admin/menu/category/', category.ref, 'group', group.group.ref, 'edit']">
                            <mat-icon>settings</mat-icon>
                        </div>
                        <div *ngIf="group.isAggregate" class="settings-icon clickable" [routerLink]="['/admin/menu/category/', category.ref, 'group-aggregate', group.group.ref, 'edit']">
                            <mat-icon>settings</mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="openGroupRef === group.group.ref && !group.isAggregate">
                <app-admin-menu-item-group [group]="group.group"></app-admin-menu-item-group>
            </div>
        </div>
    </div>
</div>

<div id="floating-editor" class="box-shadow-top">
    <router-outlet></router-outlet>
</div>