.menu-element-details {
    padding-left: 20px;
    width: 100%;
}

.menu-element-details > .left {
    display: flex;
}

.menu-element-details-content {
    width: 100%;
}

.menu-element-details-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.menu-element-details-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#back-icon {
    color: #FEFEFE;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}