#select-organization h1 {
    padding-bottom: 50px;
    padding-top: 50px;
}

#select-organization {
    width: 600px;
    margin-left: calc(50% - 300px);
    text-align: center;
}

.organization {
    padding: 20px;
    text-align: left;
    margin-top: 20px;
}