#all {
    padding: 15px;
}

#all h2 {
    font-size: 16px;
    font-family: PoppinsSemiBold;
    color: #272727;
    margin: 0px;
}

.action-description {
    font-size: 12px;
    color: #C3C3C3;
    margin: 0px;
}

#allergens-list {
    margin-top: 20px;
    column-count: 4;
}

@media screen and (max-width: 1000px) {
    #allergens-list {
        column-count: 3;
    }
}