<app-complex-editor-wrapper
    [headerEntry]="collection !== undefined ? 'Collection' : 'Create new collection'"
    [headerValue]="collection !== undefined ? collection.name : ''"
    [saveEnabled]="isValid(collectionFields) && isUpdated(collectionFields)"
    [deleteEnabled]="collection !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="onTrySave()"
>

    <div id="field-editors">
        <app-editor-form-text class="field-editor" [control]="collectionFields.collectionName" i18-name name="Collection name"></app-editor-form-text>
        <app-editor-form-text class="field-editor" [control]="collectionFields.collectionDescription" i18-name name="Collection description"></app-editor-form-text>
    </div>
</app-complex-editor-wrapper>