<div id="menu-horizontal">
    <div id="hamburger">
        <mat-icon>menu</mat-icon>
    </div>

    <div id="menu-horizontal-elements">
        <div id="menu-horizontal-elements-content">
            
            <app-menu-horizontal-element name="Spaghetti Carbonaura"></app-menu-horizontal-element>
            <div class="menu-horizontal-element">
                Zupy
            </div>
            <div class="menu-horizontal-element">
                Dania główne
            </div>
            <div class="menu-horizontal-element">
                Dania główne
            </div>
            <div class="menu-horizontal-element">
                Dania główne
            </div>
            <div class="menu-horizontal-element">
                Dania główne
            </div>
            <div class="menu-horizontal-element">
                Dania główne
            </div>
            <div class="menu-horizontal-element">
                Dania główne
            </div>
        </div>
    </div>
</div>