<div class="editor-box box-shadow" *ngIf="elementNameFormControl">
    <p class="editor-box-title" i18n>Nazwa dania</p>
    <p class="editor-box-subtitle" i18n>Wpisz odpowiednią nazwę</p>

    <mat-form-field appearance="fill" id="element-name-input">
        <mat-label i18n>Nazwa dania</mat-label>
        <input autocomplete="off" [formControl]="elementNameFormControl" matInput>
        <mat-error *ngIf="elementNameFormControl.errors" i18n>Niepoprawna nazwa</mat-error>
    </mat-form-field>
</div>