<div id="menu-cli">
    <div id="banner">

        <div id="delivery-time">
            15 - 45 min
        </div>
    </div>

    <app-menu-horizontal [categories]="categories"></app-menu-horizontal>

    
    <div id="menu-elements">
        <div class="menu-categories-list">
            <div class="menu-category-wrapper" *ngFor="let category of categories">
                <app-menu-category [category]="category" #category id="menu-element-category-{{category.ref}}"></app-menu-category>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="footer-rows">
        <div class="footer-row">
            <p class="footer-row-title" (click)="showAboutUs()">O nas <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">

            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Polityka prywatności <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Informacja prawna <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Jak to działa? <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
    </div>

    <div id="footer-powered-by">
        <p>Powered by: <img src="/assets/images/logoMin.png"/></p>
    </div>
</div>


<app-menu-cli-dialog></app-menu-cli-dialog>

<app-order-submit></app-order-submit>