<div id="root-mobile">
    <div id="banner">

        <div id="restaurant-information">
            i
        </div>

        <div id="delivery-time">
            15 - 45 min
        </div>
    </div>

    <app-menu-horizontal></app-menu-horizontal>

    <app-menu-horizontal-wrapper>
        <div id="menu-elements">
            <app-menu-horizontal-element-wrapper *ngFor="let category of categories" [name]="category.name" [description]="category.description">
                <app-menu-category [category]="category"></app-menu-category>
            </app-menu-horizontal-element-wrapper>
        </div>
    </app-menu-horizontal-wrapper>
</div>

<div id="footer">
    <div id="footer-rows">
        <div class="footer-row">
            <p class="footer-row-title" (click)="showAboutUs()">O nas <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">

            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Polityka prywatności <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Informacja prawna <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
        <div class="footer-row">
            <p class="footer-row-title">Jak to działa? <mat-icon class="more_icon">keyboard_arrow_right</mat-icon></p>

            <div class="footer-row-page">
                
            </div>
        </div>
    </div>

    <div id="footer-powered-by">
        <p>Powered by: <img src="/assets/images/logoMin.png"/></p>
    </div>
</div>


<app-generic-dialog></app-generic-dialog>

<app-order-submit></app-order-submit>