#banner {
    background-image: url('/assets/temp/pizza-taxi-banner.jpeg');
    padding: 0px;
    margin: 0px;
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 901;
}

#delivery-time {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    border-radius: 25px;
}


h1 {
    margin: 0px;
}

// Menu elements
#menu-elements {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    padding-bottom: 50px;
}

// Footer
#footer-rows  {
    background-color: #38A583;
    padding: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f4f4f4;
}

#footer-rows .footer-row  {
    position: relative;
}

#footer-rows .footer-row p {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer-powered-by {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#footer-powered-by p {
    margin: 0px;
}

#footer-rows .footer-row .more_icon {
    font-size: 14px;
    position: absolute;
    right: 0px;
}

#restaurant-information {
    border: 2px solid #f4f4f4;
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 25px;
    height: 25px;
    font-family: Poppins;
    color: white;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 16px;
}
