<h2>Sprzedaż</h2>

<div id="header" *ngIf="summary">
    <div class="header-element">
        <p i18n>Orders count:</p>
        <p class="value">{{ summary.ordersCount }}</p>
    </div>
    <div class="header-element">
        <p i18n>Orders value:</p>
        <p class="value highlighted">{{ summary.ordersValue }} zł</p>
    </div>
    <div class="header-element">
        <p i18n>Average:</p>
        <p class="value highlighted">{{ summary.orderAverageValue }} zł</p>
    </div>
    <div class="header-element">
        <select name="range" id="range" (change)="changeRange($event.target)">
            <option value="day" i18n>Last: day</option>
            <option value="week" i18n>Last: week</option>
            <option value="month" selected="selected" i18n>Last: month</option>
            <option value="year" i18n>Last: year</option>
        </select>
    </div>
</div>

<div id="chart-box">
    <h2>{{ chartDescription }}</h2>
    <canvas #chart baseChart height="400">
    </canvas>
</div>