<app-complex-editor-wrapper
    [headerEntry]="group !== undefined ? 'Dish' : 'Create new dish'"
    [headerValue]="group !== undefined ? group.name : ''"
    [saveEnabled]="((editItemGroupService.valid() | async) && (editItemGroupService.updated() | async)) === true"
    [deleteEnabled]="group !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="editItemGroupService.onSaveTry.next()"
>

    <app-two-columns-field-editor>
        <app-editor-item-group-name class="field-editor"></app-editor-item-group-name>
        <app-editor-item-group-description class="field-editor"></app-editor-item-group-description>
        <app-editor-item-group-image class="field-editor"></app-editor-item-group-image>
    </app-two-columns-field-editor>
</app-complex-editor-wrapper>