<div id="edit-element">
    <p id="element-name" *ngIf="group !== undefined"><span i18n>Dish</span>: <b>{{ group.name }}</b></p>
    <p id="element-name" *ngIf="group === undefined"><span i18n>Create new dish</span></p>

    <p id="help-text" i18n>Edit fields below and save changes</p>
    <div id="editors">
        <app-editor-item-group-name class="editor"></app-editor-item-group-name>
        <app-editor-item-group-description class="editor"></app-editor-item-group-description>
        <app-editor-item-group-image class="editor"></app-editor-item-group-image>
    </div>
</div>

<app-submit-bar
    [saveEnabled]="((editItemGroupService.valid() | async) && (editItemGroupService.updated() | async)) === true"
    [deleteEnabled]="group !== undefined" (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="editItemGroupService.onSaveTry.next()"
>
</app-submit-bar>
