.menu-element-details {
    padding-left: 20px;
    width: 100%;
}

.menu-element {
    margin-left: 40px;
}

.menu-element-price {
    position: absolute;
    bottom: 0px;
    margin: 0px;
}

.create-new {
    margin-top: 0px;
    margin-left: 100px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: right;
    padding-right: 20px;
}

.create-new p {
    margin: 0px;
}