<span *ngIf="editTableService.observeTableData() | async as activeTable">
    <app-generic-editor name="Table Qr code" *ngIf="activeTable.qrCode">
        <div class="qr-content">
            <div id="qr-image" class="clickable" (click)="openQrImage()">
                <mat-icon>qr_code</mat-icon>
            </div>
        
            <p class="download clickable" (click)="downloadQrImage()">Download</p>
    
            <div class="spacer"></div>
        </div>
    </app-generic-editor>
</span>

<a id="blob-ref" #blobRef></a>
