<div id="dialog">
    <span *ngIf="receivedOrder | async as order else loading">
        <span *ngIf="order.orderStatus === 'PLACED'">
            <ng-container *ngTemplateOutlet="loading"></ng-container>
        </span>

        <!-- ACCEPTED -->
        <span *ngIf="order.orderStatus === 'ACCEPTED'">
            <div class="message-icon accepted main-theme-color">
                <mat-icon>check</mat-icon>
            </div>
            
            <p id="thanks" i18n>Dziękujemy za złożenie zamówienia</p>
            <p class="message" i18n>Twoje zamówienie zostało zatwierdzone i jest już przygotowywane</p>
        </span>

        <!-- REJECTED -->
        <span *ngIf="order.orderStatus === 'REJECTED'">
            <div class="message-icon rejected">
                <mat-icon>close</mat-icon>
            </div>
            
            <p id="thanks" i18n>Zamówienie odrzucone</p>
            <p class="message" i18n>Twoje zamówienie nie zostało przyjęte</p>
            <p class="comment" *ngIf="order.orderStatusComment"><span i18n>Komentarz: </span> {{ order.orderStatusComment }}</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- CANCELED -->
        <span *ngIf="order.orderStatus === 'CANCELED'">
            <div class="message-icon rejected">
                <mat-icon>cancel</mat-icon>
            </div>
            
            <p id="thanks" i18n>Zamówienie odrzucone</p>
            <p class="message" i18n>Twoje zamówienie zostało anulowane</p>
            <p class="comment" *ngIf="order.orderStatusComment"><span i18n>Komentarz: </span> {{ order.orderStatusComment }}</p>
            
            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- EXPIRED -->
        <span *ngIf="order.orderStatus === 'EXPIRED'">
            <div class="message-icon rejected">
                <mat-icon>access_time</mat-icon>
            </div>
            
            <p id="thanks" i18n>Zamówienie nie zostało przyjęte</p>
            <p class="message" i18n>Twoje zamówienie nie zostało zatwierdzone</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- ABANDONED -->
        <span *ngIf="order.orderStatus === 'ABANDONED'">
            <div class="message-icon rejected">
                <mat-icon>access_time</mat-icon>
            </div>
            
            <p id="thanks" i18n>Zamówienie zostało porzucone</p>
            <p class="message" i18n>Twoje zamówienie nie zostało opłacone</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- SERVED -->
        <span *ngIf="order.orderStatus === 'SERVED'">
            <div class="message-icon accepted main-theme-color">
                <mat-icon>restaurant</mat-icon>
            </div>
            
            <p id="thanks" i18n>Zamówienie zostało dostarczone</p>
            <p class="message" i18n>Smacznego</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <ng-template #back>
            <div id="return-button" class="main-theme-background-color clickable" (click)="return(order)" i18n>
                Wróć do menu
            </div>
        </ng-template>
    </span>

    <ng-template #loading>
        <div id="spinner">
            <mat-spinner diameter="100"></mat-spinner>
        </div>
        
        <p id="thanks" i18n>Trwa potwierdzanie zamówienia</p>
        <p class="message" i18n>Poczekaj na potwierdzenie realizacji zamówienia przez restaurację</p>
    </ng-template>

    
</div>
