<div id="dialog">
    <span *ngIf="receivedOrder | async as order else loading">
        <span *ngIf="order.orderStatus === 'PLACED'">
            <ng-container *ngTemplateOutlet="loading"></ng-container>
        </span>

        <!-- ACCEPTED -->
        <span *ngIf="order.orderStatus === 'ACCEPTED'">
            <div class="message-icon accepted main-theme-color">
                <mat-icon>check</mat-icon>
            </div>
            
            <p id="thanks" i18n>Thank you for your order</p>
            <p class="message" i18n>Your order has been approved and is being prepared</p>
        </span>

        <!-- REJECTED -->
        <span *ngIf="order.orderStatus === 'REJECTED'">
            <div class="message-icon rejected">
                <mat-icon>close</mat-icon>
            </div>
            
            <p id="thanks" i18n>Order rejected</p>
            <p class="message" i18n>Twoje zamówienie nie zostało przyjęte</p>
            <p class="comment" *ngIf="order.orderStatusComment"><span i18n>Comment: </span> {{ order.orderStatusComment }}</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- CANCELED -->
        <span *ngIf="order.orderStatus === 'CANCELED'">
            <div class="message-icon rejected">
                <mat-icon>cancel</mat-icon>
            </div>
            
            <p id="thanks" i18n>Order rejected</p>
            <p class="message" i18n>Your order has been cancelled</p>
            <p class="comment" *ngIf="order.orderStatusComment"><span i18n>Comment: </span> {{ order.orderStatusComment }}</p>
            
            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- EXPIRED -->
        <span *ngIf="order.orderStatus === 'EXPIRED'">
            <div class="message-icon rejected">
                <mat-icon>access_time</mat-icon>
            </div>
            
            <p id="thanks" i18n>The order has not been accepted</p>
            <p class="message" i18n>Your order has not been approved</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- ABANDONED -->
        <span *ngIf="order.orderStatus === 'ABANDONED'">
            <div class="message-icon rejected">
                <mat-icon>access_time</mat-icon>
            </div>
            
            <p id="thanks" i18n>The order has been abandoned</p>
            <p class="message" i18n>Your order has not been paid</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <!-- SERVED -->
        <span *ngIf="order.orderStatus === 'SERVED'">
            <div class="message-icon accepted main-theme-color">
                <mat-icon>restaurant</mat-icon>
            </div>
            
            <p id="thanks" i18n>The order has been delivered</p>
            <p class="message" i18n>Enjoy your meal</p>

            <ng-container *ngTemplateOutlet="back"></ng-container>
        </span>

        <ng-template #back>
            <div id="return-button" class="main-theme-background-color clickable" (click)="return(order)" i18n>Go back to the menu</div>
        </ng-template>
    </span>

    <ng-template #loading>
        <div id="spinner">
            <mat-spinner diameter="100"></mat-spinner>
        </div>
        
        <p id="thanks" i18n>Order confirmation is in progress</p>
        <p class="message" i18n>Wait for the restaurant to confirm your order</p>
    </ng-template>

    
</div>
