<div class="editor-box box-shadow" *ngIf="elementDescriptionFormControl">
    <p class="editor-box-title" i18n>Opis dania</p>
    <p class="editor-box-subtitle" i18n>Uzupełnij pole poniżej</p>

    <mat-form-field appearance="fill" id="element-description-input">
        <mat-label i18n>Opis dania</mat-label>
        <textarea matInput [formControl]="elementDescriptionFormControl"></textarea>
        <mat-error *ngIf="elementDescriptionFormControl.errors" i18n>Niepoprawny opis</mat-error>
    </mat-form-field>
</div>