<div id="root-mobile">
    <app-account-bar></app-account-bar>

    <app-menu-horizontal></app-menu-horizontal>

    <app-menu-horizontal-wrapper>
        <div id="menu-elements">
            <app-menu-horizontal-element-wrapper name="Oczekujące zamówienia">
                <app-pending-order *ngFor="let order of orders | orderStatus:'PLACED'" [order]="order">
                </app-pending-order>
            </app-menu-horizontal-element-wrapper>

            <app-menu-horizontal-element-wrapper name="Zaakceptowane">
                <app-pending-order *ngFor="let order of orders | orderStatus:'ACCEPTED'" [order]="order">
                </app-pending-order>
            </app-menu-horizontal-element-wrapper>
        </div>
    </app-menu-horizontal-wrapper>

    <app-footer-powered-by></app-footer-powered-by>
</div>