<app-full-width-dialog i18n-title title="Order summary" (close)="close()">
    <div id="order-summary">
        <div class="summary-element clickable" *ngFor="let orderElement of order.activeElements" (click)="editElement(orderElement)">
            <div class="summary-element-description">
                <div class="summary-element-name">
                    {{ orderElement.menuItem.menuItemGroupName }}
                    <ng-container *ngIf="!orderElement.menuItem.isTheOnlyOption">({{ orderElement.menuItem.name }})</ng-container>
                </div>
                <div class="summary-element-options">
                    <div class="summary-element-option" *ngFor="let select of orderElement.menuItemSelects">
                        {{ select.name }} (+{{ select.price }} zł)
                    </div>
                    <div class="summary-element-option" *ngFor="let topping of orderElement.menuItemToppings">
                        {{ topping.name }} (+{{ topping.price }} zł)
                    </div>
                    <div class="summary-element-option" *ngIf="orderElement.comment">
                        <span i18n>Comment: </span> {{ orderElement.comment }}
                    </div>
                </div>
            </div>
            <div class="summary-element-price">
                {{orderElement.price.toFixed(2)}} zł
            </div>
        </div>

        <div *ngFor="let orderElement of order.elements">
            <p class="modified-warning"><mat-icon>info</mat-icon>Dish definition has changed, so you can only remove it</p>
            <div class="summary-element clickable static modified">
                <div class="summary-element-description">
                    <div class="summary-element-name">{{ orderElement.menuItem.menuItemGroupName }}
                        <ng-container *ngIf="orderElement.menuItem.name">({{ orderElement.menuItem.name }})</ng-container>
                    </div>
                    <div class="summary-element-options">
                        <div class="summary-element-option" *ngFor="let select of orderElement.menuItemSelects">
                            {{ select.name }} (+{{ select.price }} zł)
                        </div>
                        <div class="summary-element-option" *ngFor="let topping of orderElement.menuItemToppings">
                            {{ topping.name }} (+{{ topping.price }} zł)
                        </div>
                        <div class="summary-element-option" *ngIf="orderElement.comment">
                            <span i18n>Comment: </span> {{ orderElement.comment }}
                        </div>
                    </div>
                </div>
                <div class="summary-element-price">
                    {{orderElement.price.toFixed(2)}} zł
                </div>
            </div>

            <div class="remove-element clickable" (click)="removeElement(orderElement.ref)">
                Delete element
            </div>
        </div>
        
        
        <app-payment-method [order]="order"></app-payment-method>

        <app-order-menu-chief-note [commentable]="order"></app-order-menu-chief-note>

        <app-order-submit id="order-sub-final" (submit)="submit()" [buttonValue]="submitButtonText" [orderIn]="order"></app-order-submit>
    </div>
</app-full-width-dialog>