#order-summary {
    padding-bottom: 130px;
}

.summary-element {
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.summary-element-name {
    margin-bottom: 5px;
}

.summary-element.static {
    opacity: 0.5;
}

.summary-element-description {
    width: 70%;
}

.summary-element-options {
    margin-top: 5px;
}

.summary-element-option {
    font-size: 12px;
    color: #c3c3c3;
}

.summary-element-price {
    width: 30%;
    text-align: right;
}

.remove-element {
    background-color: #e45959;
    font-size: 14px;
    color: white;
    padding: 6px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modified-warning {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #888888;
    margin-top: 15px;
    margin-bottom: 0px;
}

.modified-warning mat-icon {
    font-size: 22px;
    margin-right: 5px;
}

.summary-element.modified {
    margin-top: 0px;
}

#order-sub-final {
    z-index: 1000;
}

app-order-submit {
    position: fixed;
    bottom: 0px;
    left: max(calc(50% - 500px), 0px);
    width: 100%;
    max-width: 1000px;
}