<app-complex-editor-wrapper
    [headerEntry]="user !== undefined ? userValue : createNewUserValue"
    [headerValue]="user !== undefined ? user.name : ''"
    [saveEnabled]="isValid(fields) && isUpdated(fields)"
    [deleteEnabled]="user !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="onTrySave()"
>

    <!-- <p class="help-text" i18n>An email will be sent to the user with further steps.</p> -->

    <app-two-columns-field-editor>
        <app-editor-form-text class="field-editor" [control]="nameControl" i18-name name="Username" [class.hidden]="user === undefined"></app-editor-form-text>
        <app-editor-form-text class="field-editor" [control]="fields.email" i18-name name="Email"></app-editor-form-text>
        <app-editor-radio class="field-editor" [control]="fields.role" i18-name name="Role" [options]="roles"></app-editor-radio>
    </app-two-columns-field-editor>
</app-complex-editor-wrapper>
