#menu-item-details {
    padding: 0px;
    padding-bottom: 100px;
}

.menu-item {
    border-radius: 25px;
    position: relative;
    margin-bottom: 15px;

    display: flex;
}

.menu-item.selected {
    border: 1px solid #38A583;
}

.menu-item-count p {
    margin: 0px;
    padding: 0px;
}

.menu-item-count {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #38A583;
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: #f4f4f4;
    font-weight: 900;
    font-family: PoppinsBold;
}

.menu-item-name {
    font-size: 18px;
    font-family: PoppinsBold;
    margin: 0px;
}

// TODO zobacz więcej jeśli tekst wykracza poza obszar
.menu-item-description {
    color: #777777;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.menu-item-price {
    font-size: 14px;
    margin-top: 5px;
}

.menu-item-image {
    width: 75px;
    margin-right: 15px;
}

.menu-item-image img{
    width: 75px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#allergens {
    color: #C3C3C3;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

#allergens mat-icon {
    font-size: 18px;
    position: relative;
    top: 4px;
}

#item-select-wrapper {
    width: 100%;
}

#item-select {
    width: 100%;
    z-index: 900;
}