<div id="menu-item-details" *ngIf="item && order">
    <div id="allergens"><mat-icon>info</mat-icon>Informacje o alergenach</div>
    <div class="menu-item">
        <div class="menu-item-image" *ngIf="menuItemImageUrl">
            <img src="{{menuItemImageUrl}}"/>
        </div>

        <div class="menu-item-details">
            <p class="menu-item-name">{{item.name}}</p>
            <!-- TODO change price to dynamic currency -->
            <p class="menu-item-price">Cena: {{item.price}} zł</p>
            <p class="menu-item-description">{{item.description}}</p>
        </div>
    </div>

    <app-order-menu-select *ngFor="let collection of item.selectCollections" [collection]="collection" [order]="order"></app-order-menu-select>
    <app-order-menu-topping *ngFor="let collection of item.toppingCollections" [collection]="collection" [order]="order"></app-order-menu-topping>
    <!-- <app-order-menu-chief-note></app-order-menu-chief-note> -->

    <app-counter-footer [order]="order"></app-counter-footer>
</div>