<div id="menu-item-details">
    <div id="allergens"><mat-icon>info</mat-icon>Informacje o alergenach</div>
    <div class="menu-item">
        <div class="menu-item-image">
            <img src="/assets/temp/naura.jpeg"/>
        </div>

        <div class="menu-item-details">
            <p class="menu-item-name">Spaghetti carbonaura</p>
            <!-- TODO change price to dynamic currency -->
            <p class="menu-item-price">Cena: 213 zł</p>
            <p class="menu-item-description">Z sosem z żółtek jaj, boczek</p>
        </div>
    </div>

    <app-order-menu-select></app-order-menu-select>
    <app-order-menu-topping></app-order-menu-topping>
    <app-order-menu-topping></app-order-menu-topping>
    <app-order-menu-chief-note></app-order-menu-chief-note>


    <app-counter-footer></app-counter-footer>
</div>