<div id="root-mobile">
    <app-account-bar></app-account-bar>

    <app-menu-horizontal></app-menu-horizontal>

    <app-menu-horizontal-wrapper>

        <div id="tables-shortcut" class="box-shadow">
            <div class="table-icon" *ngFor="let tableRef of tableCounter | keyvalue">
                <p class="table-icon-main">{{ tableRef.value.name }}</p>
                <p class="table-icon-counter" *ngIf="tableRef.value.count > 1">{{ tableRef.value.count }}</p>
            </div>
        </div>

        <div id="menu-elements">
            <app-menu-horizontal-element-wrapper i18n-name name="Pending orders">
                <app-pending-order (changeStatus)="triggerUpdateStatus(order, $event)" *ngFor="let order of orders | orderStatus:'PLACED'" [order]="order">
                </app-pending-order>
            </app-menu-horizontal-element-wrapper>

            <div class="spacer"></div>

            <app-menu-horizontal-element-wrapper i18n-name name="Assigned to me">
                <app-pending-order (changeStatus)="triggerUpdateStatus(order, $event)" *ngFor="let order of orders | orderStatus:'ACCEPTED' | orderAssignee: me.userEmail" [order]="order">
                </app-pending-order>
            </app-menu-horizontal-element-wrapper>

            <!-- To jest potrzebne, pozwala poprawnie działać menu horizontal z elementami float -->
            <div class="spacer"></div>
        </div>
    </app-menu-horizontal-wrapper>

    <app-footer-powered-by></app-footer-powered-by>
</div>