<div class="pending-order box-shadow box-radius clickable" *ngIf="_order" (click)="edit()" [class.edited-pending-order]="_order.edited">
    <div class="order-description">
        <h3>{{ _order.tableName }}</h3>
        <p i18n>View order</p>
    </div>
    <div class="order-actions">
        <!-- Reject, Accept, Cancel, Serve, Pay -->
        <div class="order-action accept" *ngIf="_order.actionsAllowed.includes('ACCEPT')" (click)="doAction($event, 'ACCEPT')">
            <mat-icon>done</mat-icon>
        </div>
        <div class="order-action done" *ngIf="_order.actionsAllowed.includes('SERVE')" (click)="doAction($event, 'SERVE')">
            <mat-icon>done_all</mat-icon>
        </div>
        <div class="order-action payed" *ngIf="_order.actionsAllowed.includes('PAY_OFFLINE')" (click)="doAction($event, 'PAY_OFFLINE')">
            <mat-icon>payments</mat-icon>
        </div>
        <div class="order-action reject" *ngIf="_order.actionsAllowed.includes('REJECT')" (click)="rejectOrder($event)">
            <mat-icon>close</mat-icon>
        </div>
        <div class="order-action reject" *ngIf="_order.actionsAllowed.includes('CANCEL')" (click)="cancelOrder($event)">
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <div id="additional-info">
        <div id="created">
            {{ _order.created | date:'dd.MM HH:mm'}}
        </div>
    
        <div id="edited" *ngIf="_order.edited" i18n>Edited</div>
    </div>
    
</div>