<div id="counter-footer" class="box-shadow">
    <div id="count">
        <div id="count-value">
            <p id="count-value-minus" class="clickable" (click)="itemSubstract()">
                <span *ngIf="count === 1; else minus">
                    <mat-icon id="delete-icon">delete</mat-icon>
                </span>
                <ng-template #minus>
                    -
                </ng-template>
            </p>
            <p id="value">{{ count }}</p>
            <p id="count-value-plus" class="clickable" (click)="itemAdd()">+</p>
        </div>
    </div>

    <div id="add" *ngIf="order">
        <div id="add-button" class="clickable" (click)="subscribeItem()">Dodaj: {{ (order.price * count).toFixed(2) }}zł</div>
    </div>
</div>