<div id="counter-footer" class="box-shadow">
    <div id="count">
        <div id="count-value" class="main-theme-outline-color">
            <p id="count-value-minus" class="clickable" (click)="itemSubstract()">
                <span *ngIf="count === 1; else minus">
                    <mat-icon id="delete-icon">delete</mat-icon>
                </span>
                <ng-template #minus>
                    -
                </ng-template>
            </p>
            <p id="value">{{ count }}</p>
            <p id="count-value-plus" class="clickable" (click)="itemAdd()">+</p>
        </div>
    </div>

    <div id="add" *ngIf="order">
        <div id="add-button" class="clickable main-theme-background-color" (click)="subscribeItem()">
            <span *ngIf="editMode; else createMode" i18n>Edytuj</span>
            <ng-template #createMode i18n>Dodaj: </ng-template>
            {{ (order.price * count).toFixed(2) }}zł
        </div>
    </div>
</div>