<div id="edit-element">
    <p id="element-name" *ngIf="fullGroup !== undefined"><span i18n>Option</span>: <b>{{ name }}</b></p>
    <p id="element-name" *ngIf="fullGroup === undefined"><span i18n>Create new dish</span></p>

    <p id="help-text" i18n>Edit fields below and save changes</p>

    <div id="item-tabs">
        <div class="tab clickable" routerLink="toppings" routerLinkActive="active">
            <mat-icon>add_circle</mat-icon>
            <span i18n>Dodatki</span>
        </div>
        <div class="tab clickable" routerLink="selects" routerLinkActive="active">
            <mat-icon>check_circle</mat-icon>
            <span i18n>Obieralne</span>
        </div>
        <div class="tab clickable" routerLink="allergens" routerLinkActive="active">
            <mat-icon>info</mat-icon>
            <span i18n>Alergeny</span>
        </div>
        <div class="tab clickable" routerLink="settings" routerLinkActive="active">
            <mat-icon>settings</mat-icon>
            <span i18n>Edytuj</span>
        </div>
    </div>
</div>

<div id="editor">
    <router-outlet></router-outlet>
</div>

<app-submit-bar 
    [saveEnabled]="((editItemGroupService.valid() | async) && (editItemGroupService.updated() | async)) === true"
    [deleteEnabled]="fullGroup !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="editItemGroupService.onSaveTry.next(); editItemService.onSaveTry.next()">
</app-submit-bar>
