<app-complex-editor-wrapper
    [headerEntry]="fullGroup !== undefined ? 'Option' : 'Create new dish'"
    [headerValue]="fullGroup !== undefined ? name : ''"
    [saveEnabled]="((isValid | async) && (isUpdated | async)) === true"
    [deleteEnabled]="fullGroup !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="editItemGroupService.onSaveTry.next(); editItemService.onSaveTry.next()"
    [tabs]="tabs"
>

    <router-outlet></router-outlet>
</app-complex-editor-wrapper>