<div id="submit-bar" class="box-shadow-top">
    <div id="left-side">
        <div class="any-button cancel-button clickable" (click)="closeDialog()" i18n>Cancel</div>
    </div>
    
    <div id="right-side">
        <div class="save-button clickable" *ngIf="saveEnabled" (click)="saveElement()" i18n>Save</div>
        <div *ngIf="detailsLink" [routerLink]="detailsLink" class="any-button details-button clickable" i18n>View</div>
        <div class="remove-button clickable" *ngIf="deleteEnabled" (click)="deleteElement()">
            <mat-icon>delete</mat-icon>
        </div>
    </div>
</div>