<div id="menu">
    <h1 i18n>Restaurant menu - categories</h1>

    <div *ngIf="categories.length === 0">
        <p class="help">
            In this window, add new categories and products to your menu. The product must be assigned to a category, so start by adding them.
            Editing a category or variants attached to it triggering changes for all products inside it, duplication will copy it with all content.
        </p>
    </div>

    <div *ngIf="categories.length === 0" class="create-new clickable box-shadow box-radius" routerLink="category/create"><p>+ Create first category</p></div>
    <div *ngIf="categories.length > 0" class="create-new clickable box-shadow box-radius" routerLink="category/create"><p>+ Create new category</p></div>
    
    <div id="menu-elements-list">

        <div *ngFor="let category of categories; let i = index" class="menu-element group box-shadow box-radius category-pane">
            <div class="drag-box clickable">
                <mat-icon (click)="moveDown(category)" *ngIf="i != 0" class="top">keyboard_arrow_up</mat-icon>
                <mat-icon (click)="moveUp(category)" *ngIf="i + 1 != categories.length" class="bottom">keyboard_arrow_down</mat-icon>
            </div>

            <div class="menu-element-details">
                <div class="left">
                    <p class="menu-element-name">{{ category.name }}</p>
                    <p class="menu-element-description">{{ category.description }}</p>

                    <p class="extend clickable" [routerLink]="['/admin/menu/category/', category.ref]">
                        View details
                    </p>
                </div>
                <div class="right clickable" [routerLink]="['category', category.ref, 'edit']">
                    <mat-icon class="settings-icon">settings</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<app-floating-editor-wrapper>
    <router-outlet></router-outlet>
</app-floating-editor-wrapper>