.menu-element-name {
    margin: 0px;
    font-family: PoppinsBold;
    font-size: 18px;
    color: #272727;
}

.menu-element-description {
    margin: 0px;
    color: #777777;
    font-size: 14px;
    margin-top: 10px;
}

.category-pane {
    padding: 20px;
    background-color: #F7F7F7;
    margin-bottom: 40px;
}

.left {
    margin-left: 20px;
}

.extend {
    font-family: PoppinsBold;
    text-decoration: none;
    color: #c21d8e;
}