<app-complex-editor-wrapper headerValue="Choose restaurant qr code template" i18n-headerValue>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
    <p>select-theme-dialog works!</p>
</app-complex-editor-wrapper>

