<div class="menu-item box-shadow box-radius">
    <div class="menu-item-image">
        <app-content-loader class="image-content-loader"></app-content-loader>
    </div>

    <div class="menu-item-details">
        <p class="menu-item-name">
            <app-content-loader [size]="12"></app-content-loader>
        </p>
        <p class="menu-item-description">
            <app-content-loader [size]="10"></app-content-loader>
        </p>
        <p class="menu-item-price">
            <app-content-loader [size]="10"></app-content-loader>
        </p>
    </div>
</div>