<div class="menu-item box-shadow box-radius" *ngIf="_group" [class.selected] = "orderedItefsOfType > 0">
    <div class="menu-item-image" *ngIf="menuItemGroupImageUrl">
        <img src="{{menuItemGroupImageUrl}}"/>
    </div>

    <div class="menu-item-details">
        <p class="menu-item-name">{{ _group.name}} </p>
        <p class="menu-item-description">{{ _group.description }}</p>
        <!-- TODO change price to dynamic currency -->
        <p class="menu-item-price">{{ getGroupDefaultPrice(_group) }} zł</p>

        <div class="menu-item-count" *ngIf="orderedItefsOfType > 0"><p>{{orderedItefsOfType}}</p></div>
        <div class="menu-item-add clickable" (click)="addGroup(_group)"><p>+</p></div>
    </div>
</div>