.menu-item {
    padding: 20px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.menu-item.selected {
    border: 1px solid #38A583;
}

.menu-item-count p {
    margin: 0px;
    padding: 0px;
}

.menu-item-count {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #38A583;
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: #f4f4f4;
    font-weight: 900;
    font-family: PoppinsBold;
}

.menu-item-name {
    font-size: 16px;
    font-family: PoppinsBold;
    margin: 0px;
}

// TODO zobacz więcej jeśli tekst wykracza poza obszar
.menu-item-description {
    color: #777777;
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.menu-item-price {
    margin-top: 10px;
    font-size: 14px;
}

.menu-item-add p {
    margin: 0px;
    padding: 0px;
    margin-top: 3px;
    font-family: PoppinsThin;
}

.menu-item-add {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    border: 1px solid #38A583;
    border-radius: 50%;
    color: #38A583;
}

.menu-item-add:hover {
    color: #f4f4f4;
    background-color: #38A583;
}

.menu-item-add:hover p {
    color: #f4f4f4;
}

.menu-item-details {
    width: calc(100% - 90px);
}

.menu-item-image {
    width: 75px;
    margin-right: 15px;
}

.menu-item-image img{
    width: 75px;
    height: 100%;
    object-fit: cover;
}
