#floating-editor {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #FFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: auto;
}