#tables {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    margin-top: 30px;
    font-size: 30px;
    font-family: PoppinsBold;
    line-height: 50px;
    border-bottom: 1px solid #C3C3C3;
}

h2 {
    margin-top: 40px;
}

#tables-app {
    border: 1px solid #C3C3C3;
    height: 600px;
    position: relative;
}

.create {
    background-color: #38A583;
    color: white;
    padding: 15px;
}

#create {
    margin-top: 20px;
}

.create mat-icon {
    display: inline;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.create p {
    display: inline;
    font-size: 18px;
}

.two-col {
    columns: 2;
    margin-top: 15px;
}

#bulk {
    padding: 20px;
}

#bulk h3 {
    margin: 0px;
}

.template-select {
    width: 100%;
    margin-top: 20px;
}

#do-generate, #configure {
    text-align: center;
}

#configure {
    background-color: #333333;
}

#do-generate p {
    font-size: 16px;
    margin: 0px;
}

#blob-ref {
    display: none;
}

#do-generate.locked {
    background-color: #38a5826f; // #38A583;
}