<app-complex-editor-wrapper
    [headerEntry]="allergen !== undefined ? allergenValue : createNewAllergenValue"
    [headerValue]="allergen !== undefined ? allergen.name : ''"
    [saveEnabled]="isValid(allergenFields) && isUpdated(allergenFields)"
    [deleteEnabled]="allergen !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="onTrySave()"
>

    <app-two-columns-field-editor>
        <app-editor-form-text class="field-editor" [control]="allergenFields.allergenName" i18-name name="Allergen name"></app-editor-form-text>
        <app-editor-form-text class="field-editor" [control]="allergenFields.allergenDescription" i18-name name="Allergen description"></app-editor-form-text>
    </app-two-columns-field-editor>
</app-complex-editor-wrapper>
