
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$QrewmatesCli-primary: mat.define-palette(mat.$indigo-palette);
$QrewmatesCli-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$QrewmatesCli-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$QrewmatesCli-theme: mat.define-light-theme((
  color: (
    primary: $QrewmatesCli-primary,
    accent: $QrewmatesCli-accent,
    warn: $QrewmatesCli-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($QrewmatesCli-theme);

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsLight;
    src: url('/assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: PoppinsThin;
    src: url('/assets/fonts/Poppins-Thin.ttf');
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Poppins,
    "Helvetica Neue",
    sans-serif;
}

p, h1, h2, h3, h4, div, span {
    font-family: Poppins;
}

.spacer {
    width: 100%;
    clear: both;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.box-shadow-bottom {
    -webkit-box-shadow: 0px 14px 10px 0px rgba(66, 68, 90, 0.2);
    -moz-box-shadow: 0px 14px 10px 0px rgba(66, 68, 90, 0.2);
    box-shadow: 0px 14px 10px 0px rgba(66, 68, 90, 0.2);
}

.box-shadow-top {
    -webkit-box-shadow: 0px -14px 10px 0px rgba(66, 68, 90, 0.2);
    -moz-box-shadow: 0px -14px 10px 0px rgba(66, 68, 90, 0.2);
    box-shadow: 0px -14px 10px 0px rgba(66, 68, 90, 0.2);
}

.box-radius {
    border-radius: 10px;
}


.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #38A583;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #38A583;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #38A583;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element {
background: #38A583;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
background: #38A583;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #38A583;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #38A583;
}


#root-mobile {
    max-width: 1000px;
}

@media only screen and (min-width: 1000px) {
    #root-mobile {
        margin-left: calc((100% - 1000px) / 2);
    }
}

.full-width-dialog {
    min-height: 20%;
}

.full-width-dialog .mat-dialog-container {
    padding: 0px;
}