
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$custom-pallete: (
    50: #FEFEFE,
    100: #FEFEFE,
    200: #FEFEFE,
    300: #FEFEFE,
    400: #FEFEFE,
    500: #FEFEFE,
    600: #FEFEFE,
    700: #FEFEFE,
    800: #FEFEFE,
    900: #FEFEFE,
    contrast: (
        50: #FDFDFD,
        100: #FDFDFD,
        200: #FDFDFD,
        300: #FDFDFD,
        400: #FDFDFD,
        500: #FDFDFD,
        600: #FDFDFD,
        700: #FDFDFD,
        800: #FDFDFD,
        900: #FDFDFD
    )
);

// Overvritten material theme values
mat-checkbox.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: #fff;
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$QrewmatesCli-primary: mat.define-palette($custom-pallete);
$QrewmatesCli-accent: mat.define-palette($custom-pallete);

// The warn palette is optional (defaults to red).
$QrewmatesCli-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$QrewmatesCli-theme: mat.define-light-theme((
  color: (
    primary: $QrewmatesCli-primary,
    accent: $QrewmatesCli-accent,
    warn: $QrewmatesCli-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($QrewmatesCli-theme);

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Poppins;
    src: url('/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsLight;
    src: url('/assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: PoppinsThin;
    src: url('/assets/fonts/Poppins-Thin.ttf');
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Poppins, "Helvetica Neue", sans-serif;
}

#root-mobile {
    max-width: 1000px;
    position: relative;
}

p, h1, h2, h3, h4, div, span {
    font-family: Poppins;
}

.spacer {
    width: 100%;
    clear: both;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.box-shadow-bottom {
    -webkit-box-shadow: 0px 14px 10px 0px rgba(66, 68, 90, 0.2);
    -moz-box-shadow: 0px 14px 10px 0px rgba(66, 68, 90, 0.2);
    box-shadow: 0px 14px 10px 0px rgba(66, 68, 90, 0.2);
}

.box-shadow-top {
    -webkit-box-shadow: 0px -14px 10px 0px rgba(66, 68, 90, 0.2);
    -moz-box-shadow: 0px -14px 10px 0px rgba(66, 68, 90, 0.2);
    box-shadow: 0px -14px 10px 0px rgba(66, 68, 90, 0.2);
}

.box-radius {
    border-radius: 10px;
}

.clickable {
    cursor: pointer;
}

@media only screen and (min-width: 1000px) {
    #root-mobile {
        margin-left: calc((100% - 1000px) / 2);
    }
}

.overflow-hidden {
    overflow: hidden;
}

.full-width-dialog {
    min-height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.full-width-dialog .mat-dialog-container {
    padding: 0px;
}

.global-buttons {
    display: flex;
    align-items: stretch;
}

.global-confirm-button {
    background-color: #38A583;
}

.global-reject-button {
    background-color: #9e3523;
}

.global-confirm-button, .global-reject-button {
    color: white;
    flex: 1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}