<div id="root-mobile">
    <app-account-bar></app-account-bar>

    <app-horizontal-menu-wrapper>
        <app-horizontal-menu-element-wrapper name="Element 1">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos esse perferendis assumenda corrupti ipsam voluptates hic maxime officia saepe! Ipsam!</p>
        </app-horizontal-menu-element-wrapper>

        <app-horizontal-menu-element-wrapper name="Element 2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut excepturi facilis reprehenderit, earum alias. Tempora odit unde praesentium autem.</p>
        </app-horizontal-menu-element-wrapper>
    </app-horizontal-menu-wrapper>
</div>