<div id="root-mobile">
    <app-account-bar></app-account-bar>


    <app-menu-horizontal></app-menu-horizontal>
    <app-menu-horizontal-wrapper>
        <app-menu-horizontal-element-wrapper name="Element 1">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos esse perferendis assumenda corrupti ipsam voluptates hic maxime officia saepe! Ipsam!</p>
        </app-menu-horizontal-element-wrapper>

        <app-menu-horizontal-element-wrapper name="Element 2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut excepturi facilis reprehenderit, earum alias. Tempora odit unde praesentium autem.</p>
        </app-menu-horizontal-element-wrapper>
    </app-menu-horizontal-wrapper>
</div>