<h2>Logo</h2>

<div class="customization-envelope box-shadow" *ngIf="restaurantCopy">
    <div id="active-logo" class="clickable" (click)="file.click()">
        <img src="{{ imageUrl }}" *ngIf="imageUrl">
        <div id="logo-replacement" *ngIf="!imageUrl">
            <mat-icon>add</mat-icon>
        </div>
    </div>
    <div id="logo-description">
        <h3>Prześlij logo</h3>
        <p id="logo-description-text">
            Lorem ipsum dolor sit amet lorem ipsum
        </p>

        <p id="sendFile" class="clickable" (click)="file.click()">Prześlij plik</p>
        <div *ngIf="imageUrl" id="removeFile" class="clickable" (click)="remove()">
            <mat-icon>delete</mat-icon>
        </div>
    </div>
</div>


<input #file type="file" id="file-upload" accept="image/*" (change)="upload(file.files)">