<div id="order-menu-topping" class="box-shadow box-radius" *ngIf="_collection">
    <h3>{{_collection.name}}</h3>
    <p id="topping-description" i18n>Customize your meal</p>

    <div id="checkboxes">
        <section>
            <mat-checkbox *ngFor="let topping of _collection.menuItemToppings" [checked]="checked.includes(topping.ref)" (change)="select(topping, $event.checked)">
                {{ topping.name }}
                {{ topping.price !== 0 ? '(+' + topping.price!.toFixed(2) + ' zł)' : '' }}
            </mat-checkbox>
        </section>
    </div>  
</div>