<app-complex-editor-wrapper
    [headerEntry]="select !== undefined ? 'Select' : 'Create new select'"
    [headerValue]="select !== undefined ? name : ''"
    [saveEnabled]="((editSelectService.valid() | async) && (isUpdated | async)) === true"
    [deleteEnabled]="select !== undefined"
    (onClose)="close()"
    (onSave)="onSave()"
    (onDelete)="onDelete()"
    (onTrySave)="editSelectService.onSaveTry.next()"
    [tabs]="tabs"
>

    <router-outlet></router-outlet>
</app-complex-editor-wrapper>
