<div id="menu-elements-list" *ngIf="_group as group">
    <div class="create-new clickable box-shadow box-radius" [routerLink]="['group', group.ref, 'item', 'create']"><p>+ Add new option</p></div>
    
    <div *ngFor="let item of group.menuItems; let i = index">
        <div class="menu-element item box-shadow box-radius">
            <div class="drag-box clickable">
                <mat-icon (click)="moveDown(item)" *ngIf="i != 0" class="top">keyboard_arrow_up</mat-icon>
                <mat-icon (click)="moveUp(item)" *ngIf="i + 1 != group.menuItems.length" class="bottom">keyboard_arrow_down</mat-icon>
            </div>
        
            <div class="menu-element-details">
                <div class="left">
                    <p class="menu-element-name">{{ item.menuItemGroupName}}: {{ item.name }}</p>
                    <p class="menu-element-price">{{ item.price }} zł</p>
                </div>
                <div class="right">
                    <div class="settings-icon clickable" [routerLink]="['group', group.ref, 'item', item.ref, 'edit']">
                        <mat-icon>settings</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
