.menu-element-details {
    padding-left: 20px;
    width: 100%;
}

.create-new {
    margin-top: 40px;
}

.menu-element-details .left {
    width: calc(100% - 70px);
}

.menu-element.open {
    border-bottom-right-radius: 0px;
    border: 1px solid #38A583;
}